@import url(http://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Dosis:200,300,400,500,600,700,800|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i);

@font-face {
	font-family: 'ronda';
	src: url('#{$ronda-font-path}/ronda.eot');
	src: url('#{$ronda-font-path}/ronda.eot?#iefix') format('embedded-opentype'),
		url('#{$ronda-font-path}/ronda.woff') format('woff'),
		url('#{$ronda-font-path}/ronda.ttf') format('truetype'),
		url('#{$ronda-font-path}/ronda.svg#ronda') format('svg');
	font-weight: normal;
	font-style: normal;
}