// fore colors
.color-propuestas {
	color: $color-propuestas;
}

.color-actividades {
	color: $color-actividades;
}

.color-herramientas {
	color: $color-herramientas;
}

.color-orientaciones {
	color: $color-orientaciones;
}

.color-mediateca {
	color: $color-mediateca;
}

// backgrounds
.bg-propuestas {
	background-color: $color-propuestas;
}

.bg-actividades {
	background-color: $color-actividades;
}

.bg-herramientas {
	background-color: $color-herramientas;
}

.bg-orientaciones {
	background-color: $color-orientaciones;
}

.bg-mediateca {
	background-color: $color-mediateca;
}
