/**
 * PATHS
 */

// the ronda fonts path for icons
$ronda-font-path: '../fonts';

/**
 * CORE
 */
$screen-min-width: 420px;
$footer-height: 60px;
$sitemap-height: 80px;

/**
 * LAYOUT
 */
$gutter: 80;
$gutter-fluid: 24;
$container-gutter: ($gutter*2);
$container-gutter-fluid: ($gutter-fluid*2);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$breakpoints: ( "xs", "sm", "md", "lg", "xl" );

/**
 * COLORS
 */
$ba-color:           #80a424;
$black-color:        #242526;
$black-color-darken: #232425;

$grey-color: #888686;

$light-color-primary:   rgba(0,0,0, 0.87);
$light-color-secondary: rgba(0,0,0, 0.54);
$light-color-disabled:  rgba(0,0,0, 0.38); 
$light-color:           #eeeeee;

$dark-color-primary:   rgba(255,255,255, 1);
$dark-color-secondary: rgba(255,255,255, 0.7);
$dark-color-disabled:  rgba(255,255,255, 0.5); 
$dark-color:           #212121;

$color-red-500:         #f44336;
$color-red-600:         #e53935;
$color-red-900:         #b71c1c;
$color-deep-purple-400: #7e57c2;
$color-cyan-400:        #26c6da;
$color-light-green-400: #9ccc65;
$color-yellow-400:      #f9a825;

/**
 * SECTIONS
 */
// section colors
$color-propuestas:    $color-red-500;
$color-actividades:   $color-deep-purple-400;
$color-herramientas:  $color-cyan-400;
$color-orientaciones: $color-light-green-400;
$color-mediateca:     $color-yellow-400;

$sections: (
	propuestas: ( color: $color-propuestas ),
	actividades: ( color: $color-actividades ),
	herramientas: ( color: $color-herramientas ),
	orientaciones: ( color: $color-orientaciones ),
	mediateca: ( color: $color-mediateca )
) !default;

/**
 * Navbar
 */
$navbar-height: 80px;
$navbar-scrolled-height: 60px;
$navbar-background-color: white;
$navbar-z-index: 10000;
$navbar-menu-button-container: $gutter - $gutter-fluid;
$navbar-brand-logo-width: 154px;
$navbar-brand-logo-width-scrolled: 126px;
$navbar-brand-logo-margin-top: 17px;
$navbar-brand-logo-margin-top-scrolled: 5px;
$navbar-dropdown-width: 230px;
$navbar-dropdown-z-index: -1;

/**
 * FONTS
 */

// Roboto weights
$roboto-light:      300;
$roboto-regular:    400;
$roboto-medium:     500;
$roboto-bold:       700;
$roboto-black-bold: 900;

// Dosis weights
$dosis-extra-light: 200;
$dosis-light:       300;
$dosis-regular:     400;
$dosis-medium:      500;
$dosis-semi-bold:   600;
$dosis-bold:        700;
$dosis-extra-bold:  800;

/**
 * FONTS SIZES
 */

$font-size-body: 16px;

$font-size-h1: 42px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 16px;

$font-size-headpost-title:    54px;
$font-size-headpost-subtitle: 38px;
$font-size-headpost-p:        22px;