
// import the styles
@import '_variables.scss';
@import '_core.scss';
@import '_layout';
@import '_fonts.scss';
@import '_typography.scss';
@import '_icons.scss';
@import '_buttons.scss';
@import '_sections.scss';
@import '_components.scss';