@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Inconsolata);

body {
  padding-top: 80px;
}

.main-container {
  padding-bottom: 50px;
}

.hljs {
  font-family: Inconsolata,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  pre, code, span {
    font-family: inherit;
  }
}

.docs {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

h1.docs {
  font-weight: 700;
  text-transform: uppercase;
}

h3.docs {
  font-weight: 700;
  text-transform: uppercase;
}

h4.docs {
  font-weight: 700;
  text-transform: uppercase;
}

code.hljs-inline {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f8f9fa;
  border-radius: .25rem;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.buttondemos .label {
  opacity: 0.54;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}
ul.ronda-icons-list {
  padding-left: 0;
  list-style: none;

  li {
    float: left;
    width: 12.5%;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
  }
}

.glyphicon-class {
	display: block;
  text-align: center;
  word-wrap: break-word;
}

.ronda-banner {
  background-color: #673bb7;
  color: white;
}

@import '../../scss/_variables';

.bg-color-red-600 {
  background-color: $color-red-600;
}
.bg-color-deep-purple-400 {
  background-color: $color-deep-purple-400;
}
.bg-color-cyan-400 {
  background-color: $color-cyan-400;
}
.bg-color-light-green-400 {
  background-color: $color-light-green-400;
}
.bg-color-yellow-400 {
  background-color: $color-yellow-400;
}
.bg-color-red-500 {
  background-color: $color-red-500;
}
.bg-color-red-900 {
  background-color: $color-red-900;
}

.border-radius-6 {
  border-radius: 6px;
}

.item-color {
  height: 50px;
}

.color-legend {
  text-align: center;
  font-size: 0.7em;
}

/* inject:scss */
@import '../components/navbar/navbar';
@import '../components/footer/footer';
@import '../components/sitemap/sitemap';
/* endinject */