.rd-container {
	display: block;

	& > &__content {
		margin: 0 auto;
		width: calc(100% - #{$container-gutter});
	}
}

.rd-container-fluid {
	display: block;

	& > .rd-container__content {
		margin: 0 auto;
		width: calc((100% - #{$container-gutter-fluid}));
	}
}


@each $key in $breakpoints {
	@include media-breakpoint-up($key) { 
		.rd-container-fluid-gt-#{$key} {
			width: calc((100% - #{$container-gutter-fluid}));
		}
	}

	@include media-breakpoint-down($key) { 
		@if $key != 'xl' { 
			.rd-container-fluid-#{$key} {
				width: calc((100% - #{$container-gutter-fluid}));
			}
		}
	}
}
