.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.rd-waterfall { 
	display: block;
}

.rd-waterfall-item {
  border-radius: 6px;
  margin-bottom: 15px;
  transition: all .3s;
  @include opacity-transition();
}

.rd-waterfall-item:hover {
  //height: 250px !important;
}