@mixin navbar-scrolled(){
	.rd-brand-logo {
		display: none;
	}

	.rd-brand-logo-scrolled {
		display: block;
	}

	.navbar-buttons {
		display: none;
	}

	.rd-menu-button {
		visibility: visible;
	}

	.rd-navbar-items {
		display: none;
	}

	.rd-navbar-body {
		display: block;
	}
}

@mixin navbar-mobile(){
	@include navbar-scrolled();
}

.rd-navbar {
	min-width: $screen-min-width;
	z-index: $navbar-z-index;
  width: 100%;
  position: fixed;
  top: 0px;
  display: block;

  .rd-navbar-content {
		display: flex;
  	flex-wrap: wrap;
  	z-index: $navbar-z-index;
		height: $navbar-height;
		line-height: $navbar-height;
		background-color: $navbar-background-color;
		@include height-transition();

  	&.rd-navbar-mobile {
  		height: $navbar-scrolled-height !important;
	  	line-height: $navbar-scrolled-height !important;	

  		@include navbar-mobile();
  	}
	}

  .rd-navbar-items {
		@include opacity-transition();
	}

	.rd-navbar-body {
		display: none;
		@include opacity-transition();
	}

	.rd-navbar-tools {
		background: blue;
	}

	&.rd-scrolled {
		.rd-navbar-content {
			height: $navbar-scrolled-height !important;
	  	line-height: $navbar-scrolled-height !important;	
		}
		@include navbar-scrolled();
	}

	.rd-menu-button-container {
		width: $navbar-menu-button-container;
	}

	.rd-menu-button {
		visibility: hidden;
		padding: 0px;
		margin: 0px;
		margin-left: -5px;
    @include opacity-transition();
	}

	.rd-brand-logo {
	  width: $navbar-brand-logo-width;
	  margin-top: $navbar-brand-logo-margin-top;
    @include opacity-transition();
	}

	.rd-brand-logo-scrolled {
		display: none;
	  width: $navbar-brand-logo-width-scrolled;
	  margin-top: $navbar-brand-logo-margin-top-scrolled;
    @include opacity-transition();
	}

	// navbar dropdown
	.rd-navbar-dropdown {
		position: fixed;
		background-color: $navbar-background-color;
		width: $navbar-dropdown-width;
		z-index: $navbar-dropdown-z-index;
		left: ($gutter-fluid - 5);
		padding: $gutter-fluid 0px;
		@include opacity-transition(150ms);
	}
}