<rd-container rd-container-fluid class="rd-navbar-content" layout="row" ng-class="{ 'rd-navbar-mobile': isMobile }" data-sm="{{isMobile}}">
	<div class="rd-menu-button-container" layout="row" layout-align="start center">
		<md-button class="rd-menu-button md-icon-button grey-color" aria-label="Menu">
      <md-icon md-font-icon="fa-bars" class="fa fa-2x"></md-icon>
    </md-button>
	</div>
	<div class="rd-navbar-brand">
		<div class="rd-brand-logo">
			<img ng-src="{{logo}}" alt="Logo">
		</div>
		<div class="rd-brand-logo-scrolled">
			<img ng-src="{{logoScrolled}}" alt="Logo">
		</div>
	</div>
	<div flex class="rd-navbar-items" ng-transclude="items"></div>
	<div flex-sm flex-xs class="rd-navbar-tools" ng-transclude="tools" layout="row" layout-align="end center"></div>
</rd-container>