@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Inconsolata);
body {
  padding-top: 80px; }

*:focus {
  outline: none; }

.main-container {
  padding-bottom: 50px; }

.hljs {
  font-family: Inconsolata,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }
  .hljs pre, .hljs code, .hljs span {
    font-family: inherit; }

.docs {
  font-family: 'Open Sans Condensed', sans-serif !important; }

h1.docs {
  font-weight: 700;
  text-transform: uppercase; }

h3.docs {
  font-weight: 700;
  text-transform: uppercase; }

h4.docs {
  font-weight: 700;
  text-transform: uppercase; }

code.hljs-inline {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f8f9fa;
  border-radius: .25rem; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

.text-center {
  text-align: center; }

.buttondemos .label {
  opacity: 0.54; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

ul.ronda-icons-list {
  padding-left: 0;
  list-style: none; }
  ul.ronda-icons-list li {
    float: left;
    width: 12.5%;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff; }

.glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; }

/**
 * PATHS
 */
/**
 * CORE
 */
/**
 * LAYOUT
 */
/**
 * COLORS
 */
/**
 * SECTIONS
 */
/**
 * Navbar
 */
/**
 * FONTS
 */
/**
 * FONTS SIZES
 */
.ronda-banner {
  color: white; }

.ronda-section-toolbar {
  position: sticky;
  top: 80px;
  height: 50px;
  z-index: 999;
  -webkit-transition: top .3s;
  /* Safari */
  transition: top .3s; }
  .ronda-section-toolbar.scrolled-toolbar {
    top: 60px; }

.bg-color-red-600 {
  background-color: #e53935; }

.bg-color-deep-purple-400 {
  background-color: #7e57c2; }

.bg-color-cyan-400 {
  background-color: #26c6da; }

.bg-color-light-green-400 {
  background-color: #9ccc65; }

.bg-color-yellow-400 {
  background-color: #f9a825; }

.bg-color-red-500 {
  background-color: #f44336; }

.bg-color-red-900 {
  background-color: #b71c1c; }

.border-radius-6 {
  border-radius: 6px; }

.item-color {
  height: 50px; }

.color-legend {
  text-align: center;
  font-size: 0.7em; }

.ronda-banner[data-section="propuestas"],
.ronda-section-toolbar[data-section="propuestas"] {
  background-color: #f44336; }

.ronda-banner[data-section="actividades"],
.ronda-section-toolbar[data-section="actividades"] {
  background-color: #7e57c2; }

.ronda-banner[data-section="herramientas"],
.ronda-section-toolbar[data-section="herramientas"] {
  background-color: #26c6da; }

.ronda-banner[data-section="orientaciones"],
.ronda-section-toolbar[data-section="orientaciones"] {
  background-color: #9ccc65; }

.ronda-banner[data-section="mediateca"],
.ronda-section-toolbar[data-section="mediateca"] {
  background-color: #f9a825; }

/* inject:scss */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#main-nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0px; }
  #main-nav .nav-menu-button {
    margin-top: 9px;
    margin-left: 18px;
    display: none;
    -webkit-animation: fadeIn 350ms ease-in both;
    animation: fadeIn 350ms ease-in both; }
  #main-nav .navbar-content {
    height: 80px;
    line-height: 80px !important;
    background-color: white;
    -webkit-transition: height .3s, line-height .3s;
    /* Safari */
    transition: height .3s, line-height .3s; }
  #main-nav.scrolled-nav .navbar-content {
    height: 60px !important;
    line-height: 60px !important; }
  #main-nav.scrolled-nav .brand-logo {
    display: none; }
  #main-nav.scrolled-nav .brand-logo-scrolled {
    display: block; }
  #main-nav.scrolled-nav .navbar-buttons {
    display: none; }
  #main-nav.scrolled-nav .nav-menu-button {
    display: block; }
  #main-nav .brand-logo {
    width: 154px;
    margin-top: 17px;
    -webkit-animation: fadeIn 350ms ease-in both;
    animation: fadeIn 350ms ease-in both; }
  #main-nav .brand-logo-scrolled {
    display: none;
    width: 126px;
    margin-top: 5px;
    -webkit-animation: fadeIn 350ms ease-out both;
    animation: fadeIn 350ms ease-out both; }
  #main-nav .button-bars-container {
    width: 80px; }

.navbar-buttons {
  height: 80px;
  -webkit-animation: fadeIn 350ms ease-out both;
  animation: fadeIn 350ms ease-out both; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.sticky:before,
.sticky:after {
  content: '';
  display: table; }

.navbar-button {
  display: inline-block;
  vertical-align: bottom;
  height: 75px;
  padding: 2.5px;
  text-align: center;
  cursor: pointer;
  color: #888686; }
  .navbar-button:hover .navbar-button-text, .navbar-button.selected .navbar-button-text {
    color: rgba(0, 0, 0, 0.87); }
  .navbar-button .navbar-button-icon {
    vertical-align: middle; }
  .navbar-button .navbar-button-text {
    display: block;
    line-height: normal; }

.navbar-button[data-section="propuestas"]:hover .navbar-button-icon, .navbar-button[data-section="propuestas"].selected .navbar-button-icon {
  color: #f44336; }

.navbar-button[data-section="actividades"]:hover .navbar-button-icon, .navbar-button[data-section="actividades"].selected .navbar-button-icon {
  color: #7e57c2; }

.navbar-button[data-section="herramientas"]:hover .navbar-button-icon, .navbar-button[data-section="herramientas"].selected .navbar-button-icon {
  color: #26c6da; }

.navbar-button[data-section="orientaciones"]:hover .navbar-button-icon, .navbar-button[data-section="orientaciones"].selected .navbar-button-icon {
  color: #9ccc65; }

.navbar-button[data-section="mediateca"]:hover .navbar-button-icon, .navbar-button[data-section="mediateca"].selected .navbar-button-icon {
  color: #f9a825; }

.navbar-actions {
  width: 200px; }

footer {
  background: #232425;
  width: 100%; }
  footer .footer-content {
    height: 60px; }

.sitemap {
  background-color: #303030; }
  .sitemap .sitemap-content {
    height: 80px; }
  .sitemap .ronda-logo-sitemap {
    width: 140px; }
  .sitemap .sitemap-link {
    color: white;
    padding-left: 20px;
    padding-right: 20px; }

/* endinject */
